{{- $home_dir_prefix := (expandenv "$HOME/") }}
{{- $app_dir_env := env "XDG_APPLICATION_DIR" }}
{{- $app_dir := "Applications" }}
{{- if hasPrefix $home_dir_prefix $app_dir_env }}
{{-   $app_dir := trimPrefix $home_dir_prefix $app_dir_env }}
{{- end }}

[".local/share/zsh/fzf-tab"]
    type = "git-repo"
    url = "https://github.com/Aloxaf/fzf-tab.git/"
    refreshPeriod = "336h"

[".local/share/zsh/fzf-tab-source"]
    type = "git-repo"
    url = "https://github.com/Freed-Wu/fzf-tab-source.git/"
    refreshPeriod = "336h"

[".local/share/zsh/fast-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting.git/"
    refreshPeriod = "336h"

[".local/share/zsh/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git/"
    refreshPeriod = "336h"

[".local/share/zsh/zsh-history-substring-search"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-history-substring-search.git/"
    refreshPeriod = "336h"

["{{ $app_dir }}/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/stable/nvim.appimage"
    refreshPeriod = "672h"
    executable = true
