_symlinks
_symlinks/**

{{ if and (ne .chezmoi.os "darwin") (ne .chezmoi.os "linux") -}}
.hushlogin
{{- end }}

{{ if ne .chezmoi.os "darwin" -}}
.chezmoiscripts/darwin/**
Library
Library/**
{{- end }}

{{ if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
.config/Code
.config/Code/**
.config/VSCodium
.config/VSCodium/**
{{- end }}

{{ if ne .chezmoi.os "windows" -}}
AppData/**
Documents/*PowerShell/**
{{- else -}}
.config/powershell/**
{{- end }}
