_symlinks
_symlinks/**

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if or (ne .chezmoi.os "darwin") (ne .chezmoi.os "linux") }}
.hushlogin
{{ end }}
