# vim:ft=gitconfig
# git/config.local

[user]
	name = User Name
	email = username@example.com
	signingkey = 1111111111111111

[github]
	user = username
	; token =

[credential]
	credentialStore = cache
	cacheOptions = --timeout 43200
	helper = cache --timeout=43200

[gpg]
	program = gpg
